akregatorrc
autostart
autostart-scripts
baloofileinformationrc
baloofilerc
Bitwarden
bluedevilglobalrc
coc
configstore
dconf
discord
discordptb
dleyna-renderer-service.conf
dleyna-server-service.conf
dolphinrc
drkonqirc
Electron
eog
epiphany
evolution
fcitx
fontconfig
glib-2.0
gnome-boxes
gnome-control-center
gnome-photos
gnome-session
GNOME-xdg-terminals.list
goa-1.0
gtk-3.0
gtk-4.0
gtkrc
gtkrc-2.0
ibus
inkscape
kactivitymanagerdrc
kactivitymanagerd-statsrc
kateschemarc
kcminputrc
kconf_updaterc
KDE
kded5rc
kdeglobals
kde.org
kglobalshortcutsrc
khotkeysrc
kitty
kmixrc
konsolerc
kscreenlockerrc
ksmserverrc
ktimezonedrc
kwalletrc
kwinrc
kwinrulesrc
kxkbrc
libaccounts-glib
libreoffice
libvirt
mimeapps.list
nautilus
neofetch
nordvpn
nvim
nvim.bak
pamac
pipewire-media-session
plasma-localerc
plasma-nm
plasmanotifyrc
plasma-org.kde.plasma.desktop-appletsrc
plasmarc
plasmashellrc
powermanagementprofilesrc
pulse
QtProject.conf
ristretto
session
systemsettingsrc
Thunar
touchpadxlibinputrc
Trolltech.conf
user-dirs.dirs
user-dirs.locale
xdg-terminals.list
xsettingsd
yay
yelp
zoomus.conf
.gsd-keyboard.settings-ported
.mono
